

.two_sections_main{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/test-space-d850c.appspot.com/o/Home-Hero-Image.jpg?alt=media&token=0472f62d-c103-45af-a958-6136cadb12d0");
  background-size: 60%;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position-x: -400px;
}

.two_sections_main{
  display: flex;
  flex-direction: row;
  height: 785px;

  .div_start{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 15rem;
    .text_start_to_help, .text_give_things{
      font-size: xx-large;
    }
    .div_with_links{
     display: flex;
     flex-direction: row;
     padding-top: 3rem;
     .link_to_things,.link_to_organize{
       color: black;
   }
}
}}
.link_give_it:hover,.link_organizing:hover{
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @-webkit-keyframes text-pop-up-top {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
      }
      100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
      }
    }
    @keyframes text-pop-up-top {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
      }
      100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(+25px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
      }
    }
  }
.link_give_it, .link_organizing{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  width: 20rem;
  height: 8rem;
  font-size: 2rem;
  text-align:  center;
  border: 1px solid #7a7a7a;
  margin-right: 1rem;
}
.links_nav_second, .link__nav_one {
  padding-top: 3rem;
}